html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
#root {
  height: 100%;
}
.container,
.profile-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container {
  justify-content: space-between;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.main-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 100;
}
.nav-bar-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  background-color: #2cc805;
  /* margin: 0%; */
  /* padding: 0%; */
  z-index: 4;
}
.logo {
  width: 30%;
  height: 100%;
}
.traverse-h {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
  /* display: flex; */
  /* justify-content: center; */
  width: fit-content;
  padding: 5px;
  align-items: center;
  background-image: linear-gradient(to top left, #22a900, 60%, black);
  /* width: 100%; */
  /* background-image: linear-gradient(to top left, #22a900, 55%, black); */
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}
.traverse-logo {
  height: 100%;
  /* width: 80px; */
  width: 100%;
  /* background-image: linear-gradient(to top left, #22a900, 55%, black); */
  /* cursor: pointer; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.search {
  width: 50%;
  height: 50%;
}
.input-search-responsive {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.input-search {
  display: none;
}
.nav-bar-c {
  width: 100%;
  height: 30px;
  background-color: #2cc805;
  z-index: 2;
  border-top: 1px solid #505050;
}
/* .search-logo{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100%;
    width:10%;
    background-color: white;
    border-left: 1px solid black;
    cursor: pointer;
    box-shadow: 7px 1px 8px 3px rgb(0 0 0 / 50%);
} */

.account-logo {
  width: 70%;
  height: 70px;
  display: flex;
  right: 0%;
  position: absolute;
  display: inline-block;
}
.photo-circle-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.photo-circle {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.nav-bar-b {
  width: 100%;
  height: 50px;
  background-color: #2cc805;
}
.part-one,
.part-two {
  width: 50%;
  height: 50%;
}
.column-one {
  width: 50%;
  height: 100%;
}
.one {
  font-size: 30px;
  letter-spacing: 5px;
}
.order-logo {
  transform: translate(86%, 50%);
  cursor: pointer;
}
.social-logo {
  transform: translate(148%, -140%);
  cursor: pointer;
  text-decoration: none;
}
.search-responsive-contant {
  height: 100%;
  display: flex;
  align-items: center;
}
.traverse-container {
  height: fit-content;
}
.post-container,
.order-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  margin-top: 90px;
}
.upload-post {
  margin-top: 5px;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding-bottom: 1vw;
  border-bottom: 1px solid #c2c2c2;
}
.first-layer,
.uploader,
.uploader-manage,
.third-layer,
.react,
.fourth-order-layer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.first-layer,
.uploader {
  width: 100%;
  height: 55px;
}
.uploader {
  width: 95%;
  height: 100%;
}
.uploader-photo {
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgb(0, 0, 0, 0.2);
}
.uploader-image,
.customer-pic {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.upload-time-name {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.uploader-name {
  font-size: 3vw;
  margin-top: 9px;
  cursor: pointer;
  width: -webkit-fill-available;
  width: fill-available;
  display: flex;
}
.third-layer i {
  display: flex;
}
.uploader-manage {
  width: 35%;
  height: 100%;
  justify-content: flex-end;
  margin-right: 27px;
}

.image-setting-container {
  position: absolute;
  top: 40px;
}
.follow-button {
  margin-top: 29px;
  background-color: #2cc805;
  font-family: "Times New Roman", Times, serif;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
}
.uploader-setting {
  font-weight: bold;
  font-size: 5vw;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.profile-post-setting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.image-setting-container {
  height: fit-content;
  right: 0%;
}
.second-layer {
  width: 100%;
  height: fit-content;
  /* margin-top: 25px; */
}
.post-caption {
  font-size: 3vw;
  margin: 0vw 1.5vw 2vh 1.5vw;
  font-weight: bold;
}
.third-layer {
  width: 100%;
  height: 20px;
  margin-top: 5px;
}
.react {
  width: 60%;
  height: 100%;
  justify-content: space-evenly;
  /* font-size: 4vw; */
  display: flex;
  align-items: flex-start;
  font-size: 4vw;
}
.like,
.comment,
.share {
  width: calc(40% / 3);
  justify-content: center;
}
.like {
  margin-left: -9%;
}
.save {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 4vw;
  margin-right: 27px;
}
.headericons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.icon-background {
  background-color: beige;
  border-radius: 50px;
  padding: 0.5vw 0.7vw;
}
.option-nav {
  margin-left: 5%;
}
.uploaded-time {
  color: gray;
  margin-left: 5%;
  font-size: 3vw;
}
.uploader-manage {
  width: 5%;
  height: 100%;
  justify-content: flex-end;
}
.uploaded-image {
  width: 100%;
  height: 100%;
}
.photo-page-image {
  width: 100%;
  height: 100%;
  /* height: 50%; */
  /* max-width: 33%; */
  /* max-height: 100px; */
  object-fit: cover;
}
.like,
.share,
.comment,
.save {
  cursor: pointer;
}
.none {
  height: 0 !important;
  width: 0 !important;
}
.social {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.upload-meal {
  margin-top: 20px;
  background-color: white;
  width: 100%;
  max-height: fit-content;
  min-height: 330px;
}
.third-order-layer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.meal-name {
  font-size: 30px;
  font-weight: bold;
}
.order-layer,
.details {
  width: 40%;
  height: 20px;
  text-align: center;
  background-color: #2cc805;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.fourth-order-layer {
  width: 100%;
  height: 50px;
}
.image {
  display: flex;
  justify-content: center;
  background-color: 0c9;
  width: 100%;
  height: 100%;
  align-items: center;
}
.img {
  width: 100%;
  height: 50%;
}
.account-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.user-options {
  height: fit-content;
  right: 0%;
  position: relative;
}
.photo-click,
.post-setting-click {
  background-color: white;
  z-index: 120;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  border-radius: 5px;
  font-size: 3vw;
  width: 20vw;
}
.post-setting-click {
  display: none;
}
.photo-click {
  margin-right: 20px;
  float: right;
  right: 0%;
}
.display-element {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.set-element {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  height: 7vw;
}
.profile,
.logout,
.setting {
  height: 100%;
  width: 100%;
}
.line {
  border-top: 1px solid #f1eded;
}
.set-element:hover {
  background-color: rgb(199, 199, 199);
  border-radius: none;
}

/* Profile */
.account-contant {
  height: fit-content;
  /* max-height: 240px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 5px; */
}
.profile-container {
  /* height: 240px; */
  background-color: white;
  border-bottom: 3px solid black;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.user-profile-container {
  height: 240px;
  background-color: white;
  border-bottom: 3px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-layer-three {
  display: flex;
  flex-direction: row;
}
.profile-layer-one {
  display: flex;
  height: 100px;
  padding-top: 10px;
  justify-content: flex-start;
  width: 30%;
}
.profile-layer-two {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.profile-layer-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.follow-container {
  /* display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px; */
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  /* height: 100%; */
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.profile-layer-three {
  justify-content: space-around;
  margin-top: 30px;
}
.profile-name {
  font-weight: bold;
  font-size: 6vw;
}
.customer-profile-photo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.following-container {
  margin-left: 10px;
}
.follower-container,
.following-container {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.follower-number,
.following-number {
  font-weight: bold;
}
.number-font {
  font-size: 3vw;
}
.profile-layer-four {
  height: 80px;
}
.edit-container {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
  margin-bottom: 10px;
}
.edit-account {
  width: fit-content;
  border: 4px solid #2cc805;
  background-color: #2cc805;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.following-word,
.follower-word {
  margin-left: 5px;
}
.profile-layer-three {
  width: 100%;
  background-color: #2cc805;
  height: 50px !important;
  align-items: center;
  border-bottom: 2px solid black;
}
.profile-post,
.post-part,
.order-part {
  width: 50%;
}
.profile-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.post-part {
  width: 100%;
}
.order-part,
.post-part {
  height: fit-content;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.a-decoration,
#a-decoration {
  text-decoration: none;
  color: black;
}
.profile-post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* background-color: rgb(207, 207, 207); */
  width: 100%;
  height: fit-content;
}

.photo-post-container {
  height: fit-content;
  width: 100%;
  display: grid;
  column-gap: 2px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%/3, max(50px, 100%/4)), 1fr)
  );
  row-gap: 1px;
  margin-top: 2px;
  place-content: center;
  grid-auto-flow: dense;
}
.profile-post {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 2vh;
}
/* .photo-post-user {
  width: 100%;
  height: fit-content;
} *
.icon_clicked {
  color: #2cc805;
}

/* order profile */

/* .order-profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(207, 207, 207);
  justify-content: space-between;
  width: 100%;
  height: 100%;
  justify-content: center;
} */
.profile-meal {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-height: fit-content;
  min-height: 330px;
}

/* Add post css code for phone */
.post-page-container {
  display: none;
}
.phone-picture-conatiner {
  margin-top: 50%;
}
.phone-selected-photo {
  display: block;
  width: 90vw;
  height: 90vw;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}
.phone-post-page-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, #2cc805, 55%, black);
}
.phone-post-page-nav {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 7%;
  background-color: black;
}
.phone-post-nav-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 8px;
  background-color: black;
  align-items: center;
}
.right-arrow {
  color: white;
  font-size: 20px;
}
.phone-post-enter-information-container {
  height: 100%;
  background-image: linear-gradient(to top left, #2cc805, 55%, black);
  display: flex;
  align-items: end;
}
.retaurant-name input,
.caption input,
.tag-user,
.tag-users {
  width: 100%;
  border: none;
  outline: none;
  /* width: 120px; */
  height: 30px;
  border-radius: 5px;
  font-size: 2vh;
  box-shadow: 3px 3px 0px 0px rgb(245 245 245);
  padding: 15px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: unset;
}
.tag-user,
.tag-users {
  color: gray;
  display: flex;
  align-items: center;
  margin-bottom: 2px !important;
}
/* .caption input {
  margin-top: 90px;
} */
/* .submit-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px
}
.submit{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 10%);
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: .ff3400;
} */
.follower-name,
.following-name {
  position: absolute;
  max-height: 200px;
  min-height: fit-content;
  box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  width: 90%;
  margin-left: 2%;
}
.phone-follower-name {
  position: absolute;
  max-height: 250px;
  min-height: -moz-fit-content;
  min-height: 150px;
  box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  width: 60%;
  margin-left: 2%;
}
.tagged-person-name-container {
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  justify-content: space-evenly;
  border-bottom: 3px solid white;
  cursor: pointer;
  /* position: relative; */
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  padding: 1.2vh 0%;
}
.follower-name-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.phone-tagged-person-name-container {
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  /* justify-content: center; */
  border-bottom: 3px solid white;
  cursor: pointer;
  /* position: relative; */
  /* justify-content: space-between; */
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.phone-follower-name-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.tagged-photo {
  width: 10px;
  height: 10px;
}
.tagged-person-photo-container,
.search-person-photo-container {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: white;
  cursor: pointer;
}
.phone-tagged-person-photo-container {
  border-radius: 50px;
  height: 25px;
  width: 25px;
  background-color: white;
  cursor: pointer;
}
.tagged-person-photo,
.search-person-photo {
  /* border-radius: 50px;
  height: 30px;
  width: 30px; */
  border-radius: 50px;
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.phone-tagged-person-photo {
  border-radius: 50px;
  height: 25px;
  width: 25px;
  object-fit: cover;
}
.phone-tagged-person-name {
  /* margin-top: 5px; */
  /* margin-left: 10px; */
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.search-person-name {
  margin-top: 5px;
  margin-left: 10px;
  color: white;
}
.remove-post {
  display: none;
}
.left-side-container {
  /* position: fixed;
  width: 20%;
  height: 100%;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  background-color: #2cc805 !important; */
  position: fixed;
  width: 20%;
  height: -webkit-fill-available;
  min-height: 100%;
  /* min-height: 100%; */
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  background-color: #2cc805 !important;
}
.right-container {
  height: fit-content;
  width: 80%;
  margin-left: 20%;
}
.photo-right-container {
  height: fit-content;
  width: 80%;
  margin-left: 20%;
}
.user-right-container {
  height: fit-content;
  width: 100%;
  margin-left: auto;
  margin-top: 20px;
}
.posted-image-container {
  width: 100%;
  height: 50%;
}
.posted-image,
.posted-image-container {
  display: block;
}
.header-icons-container {
  display: none;
}
.search-page {
  width: 100%;
  height: 100%;
}
.seacrh-contant-page {
  margin-left: auto;
  width: 95%;
  height: 10%;
}
.search-type-input {
  width: 80%;
  height: 50%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 4px 3px rgb(0, 0, 0, 0.5);
  background-color: white;
}
.search-entry-logo {
  height: 50%;
  width: 15%;
  background-color: white;
  border-left: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 6px 0px 4px 3px rgb(0, 0, 0, 0.5);
}
.search {
  width: 30%;
  height: 100%;
  margin-left: 40%;
}
.search-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 150;
}
.search-text {
  background-color: black;
  color: white;
  padding: 10px 5px;
  border-bottom: 1px solid white;
  z-index: 120;
  height: fit-content;
  width: 100%;
  cursor: pointer;
}
.search-text:hover {
  background-color: rgb(217, 198, 172);
}
.seacrh-container {
  width: 100%;
  height: 100%;
}
.search-page-person-name {
  margin-left: 10px;
  color: black;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}
.input-search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.input-search input {
  border: none;
  outline: none;
  font-size: 4vw;
}
.input-search input::placeholder {
  font-size: 20px;
}
.search-logo {
  height: 100%;
  width: 10%;
  /* background-color: white; */
  /* border-left: 1px solid black; */
  cursor: pointer;
  /* box-shadow: 7px 1px 8px 3px rgb(0 0 0 / 50%); */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.search-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-icon-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-person-name-page {
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  border-bottom: 3px solid white;
  cursor: pointer;
  width: 100%;
  padding: 5% 4%;
  height: 100%;
}
.headerIcons {
  cursor: pointer;
}

@media (min-width: 500px) {
  .main-container {
    height: 55px;
  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .search {
    width: 30%;
    height: 100%;
    margin-left: 40%;
  }
  /* .search-list{
        width: 100%;
        height: 150px;
        margin-top: 7px;

        overflow: auto;
    } */
  .input-search input {
    border: none;
    outline: none;
    font-size: 1.5vw;
  }
  .account-logo {
    width: 20%;
    height: 55px;
  }
  .photo-circle {
    height: 45px;
    width: 45px;
  }
  .nav-bar-c {
    display: none;
  }
  .customer-pic {
    border-radius: 50px;
    height: 45px;
    width: 45px;
  }
  .photo-click,
  .post-setting-click {
    z-index: 120;
    font-size: 1.3vw;
    width: 12vw;
  }
  .set-element {
    height: 4vw;
  }
  .post-container,
  .order-container {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  .uploader-name,
  .post-caption {
    font-size: 1.3vw;
  }
  .uploaded-time {
    color: gray;
    margin-left: 5%;
    font-size: 1vw;
  }
  .count-container {
    font-size: 1vw !important;
  }
  .uploader-setting {
    font-size: 1.3vw;
  }
  .commnet-entered-text,
  .commenter-name,
  #comment-time,
  .comment-send {
    font-size: 1.3vw !important;
  }
  .react {
    font-size: 2vw;
  }
  .img {
    width: 90%;
    height: 80%;
  }
  .profile-post {
    position: relative;
  }
  .save {
    font-size: 2vw;
    margin-right: 0px;
  }
  .uploader-manage {
    margin-right: 0px;
  }
  .header-icons-container {
    width: 60%;
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center;
    justify-content: center; */
    /* 
    margin-right: auto; */
    margin-left: 2%;
  }
  .header-icons-containers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .header-icons {
    height: 100%;
    display: flex;
    width: 10%;
    justify-content: flex-start;
    align-items: center;
  }
  .profile-post-container {
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .order-profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    column-gap: 10px;
    row-gap: 20px;
    width: 90%;
    margin: 10px auto;
  }
  .profile-meal {
    border-radius: 5px;
    width: 280px;
    height: 95%;
  }
  .profile-container {
    height: fit-content;
    max-height: 100%;
  }
  .customer-profile-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .profile-word {
    justify-content: center;
  }
  /* .photo-page-image {
    width: 23vw;
    height: 100%;
    height: 27vw;
  } */
  .caption {
    margin-top: 0% !important;
  }
  .tag-person {
    margin-bottom: 0% !important;
  }
  .add-post-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    height: 100%;
    background-image: linear-gradient(to top left, #00ff04, 55%, black);
  }
  .phone-post-page-nav {
    display: none;
  }
  .search-container {
    width: 25%;
    height: 100%;
    z-index: 300;
    position: fixed;
    margin-top: 55px;
    box-shadow: 0px 4px 4px 4px rgba(63, 36, 36, 0.4);
  }
  .seacrh-contant {
    margin-top: 10%;
    margin-left: 1%;
    width: 100%;
    height: 8%;
  }
  /* .user-options {
    margin-left: 81vw;
    margin-top: 57px;
  } */
  .photo-post-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(100%/3, max(80px, 100%/5)), 1fr)
    );
  }
  .third-edit-post-container {
    width: 75% !important;
    height: 75% !important;
  }
  .edit-configuration-container input,
  .edit-tag-user {
    padding: 15px;
    width: 14vw !important;
  }
  .edit-submit {
    font-size: 2vw !important;
    margin-left: 2%;
  }
  .close-container {
    margin-left: 95% !important;
  }
  .message-search-type-input {
    font-size: 1.5vw !important;
  }
  .tagged-person-photo-container,
  .search-person-photo-container {
    border-radius: 50px;
    height: 45px;
    width: 45px;
    background-color: white;
    cursor: pointer;
  }
  .search-person-photo {
    border-radius: 50px;
    height: 45px;
    width: 45px;
    object-fit: cover;
  }
  .communicator-container {
    height: 70px !important;
  }
  .communicators-container {
    width: 200px;
    height: 100%;
    border-right: 1px solid #dac9c9;
  }
  .chat-container {
    display: block !important;
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .message-value-container {
    margin-top: 0px !important;
    margin-bottom: 15px;
    max-width: 20vw;
    padding: 3px;
    border-radius: 10px;
  }
  .message-container {
    margin-top: 55px !important;
  }
  .communicators-container {
    width: 200px !important;
  }
  .communicator-info {
    width: 90% !important;
  }
  .send-date {
    margin-bottom: 0px !important;
  }
  .receiver-message {
    max-width: 20vw;
  }
  .today-container {
    width: 15% !important;
    max-width: 20% !important;
  }
  .middle-bar-container {
    margin-bottom: 170px !important;
  }
  .scroll-down-button-container {
    width: 30px !important;
    height: 30px !important;
  }
  .comment-time {
    font-size: 1vw !important;
  }
  .third-layer {
    width: 100%;
    height: 12px;
    margin-top: 5px;
  }
}
@media (max-width: 790px) and (min-width: 845px) {
  .order-profile-container {
    width: 350px;
    height: 95%;
    margin: 10px auto;
  }
}
@media (max-width: 700px) {
  /* .search-person-photo-container {
    border-radius: 50px;
    height: 30px;
    width: 28px;
    background-color: white;
    cursor: pointer;
  } */
  /* .search-person-photo {
    border-radius: 50px;
    height: 30px;
    width: 28px;
  } */
  .commenter-image {
    height: 40px !important;
    width: 40px !important;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  /* .search-person-photo-container {
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;
  } */

  /* .search-person-photo {
    border-radius: 50px;
    height: 20px;
    width: 20px;
  } */
}
.main-profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  /* height: 222px; */
}
.list-item-container {
  width: 100%;
  height: 85%;
  min-height: 75%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.left-side-container .traverse {
  height: 10%;
}
.profile-word {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.word-decoration {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.traverse {
  font-size: 12px;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-weight: bold;
}
.follower-name-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .tagged-person-name-container {
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-bottom: 3px solid white;
  cursor: pointer;
  width: 90%;
  height: 100%;
  justify-content: space-between; 
} */

.tagged-person-photo-container {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  background-color: white;
  cursor: pointer;
}
.following-person-name {
  color: white;
  font-size: 1.8vw;
  display: flex;
  align-items: center;
  /* position: absolute; */
  width: 40%;
  margin-left: 3%;
}
.follow-name {
  color: white !important;
}
.following-person-remove {
  color: white;
  font-size: 1.8vw;
  background-color: #2cc805;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  width: 7vw;
}
.tagged-person-photo {
  border-radius: 50px;
  height: 15px;
  width: 15px;
}
.my-following-name,
.my-follower-name {
  position: absolute;
  display: none;
  max-height: 150px;
  min-height: fit-content;
  width: 35vw;
  box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  margin-left: 2%;
  z-index: 10;
}
.myprofile-commant-layer-container {
  display: none;
  position: absolute;
  background-color: rgb(10, 12, 16, 0.95);
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
  width: 80%;
  height: 300px;
  z-index: 10;
  margin-top: 100px;
}
#comment-layer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.enter-comment {
  display: flex;
  height: 110px;
  width: 100%;
}
.comment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 9%;
}
.comment-text {
  border-radius: 50px;
  width: 975%;
  height: 35px;
  max-height: 35px;
}
.comment-send-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: rgb(10, 12, 16, 0.95);
  border: none;
  cursor: pointer;
  width: 25%;
  margin-left: 5%;
}
.comment-send {
  font-weight: bold;
  color: #2cc805;
  /* cursor: pointer; */
  /* height: 35px; */
  /* margin-left: 5%; */
  font-size: 4vw;
  /* padding: 2% 1% 0% 1%; */
  padding: 4px 0px;
}
#comment-layer {
  width: 100%;
  height: 100%;
}
.comment-list {
  /* display: flex;
    flex-direction: column;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: fit-content;
    overflow: auto; */
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: -moz-fit-content;
  height: 75%;
  overflow: auto;
}
#comment-list-container,
#comment-list-contant {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.commenter-info,
.commenter-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 5px;
}
.commenter-info-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  margin-right: 5px;
}
.comment-time {
  color: gray;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 2.5vw;
}
.commenter-image {
  border-radius: 50px;
  height: 35px;
  width: 35px;
  object-fit: cover;
}
.commnet-entered-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4vw;
}
.commenter-name {
  font-weight: bold;
  margin-left: 12px;
  margin-right: 7px;
  font-size: 4vw;
}

@media (min-width: 380px) {
  .traverse {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .traverse {
    font-size: 25px;
  }
  .remove-post {
    display: block;
    margin-left: 3px;
  }
}
@media (min-width: 800px) {
  .traverse {
    font-size: 30px;
  }
  .customer-profile-photo {
    border-radius: 50%;
    height: 140px;
    width: 140px;
  }
  .react,
  .save {
    font-size: 1.5vw;
  }
}
@media (min-width: 700px) {
  .logo {
    width: 15%;
  }
  .third-layer {
    height: 20px !important;
  }
}
@media (min-width: 1000px) {
  .react,
  .save {
    font-size: 1.3vw;
  }
  .profile-name {
    font-size: 50px;
  }
  .edit-account {
    font-size: 20px;
  }
  .follower-word,
  .following-word,
  .follower-number,
  .following-number {
    font-size: 25px !important;
  }
  /* .tagged-person-photo-container,
  .search-person-photo-container {
    height: 40px !important;
    width: 40px !important;
  } */
  /* .tagged-person-photo,
  .search-person-photo {
    height: 40px !important;
    width: 40px !important;
  } */
  .follow-mesage-container {
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 799px) {
  .customer-profile-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 500px) and (min-height: 600px) {
  .commant-layer-container {
    display: none;
    position: absolute;
    background-color: rgb(10, 12, 16, 0.95);
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
    width: 50%;
    height: 400px !important;
    z-index: 10;
    margin-top: -30px;
  }
  .myprofile-commant-layer-container {
    display: none;
    position: absolute;
    background-color: rgb(10, 12, 16, 0.95);
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
    width: 100%;
    height: 400px;
    z-index: 10;
    margin-top: 100px;
  }
  #comment-list-container,
  #comment-list-contant {
    display: flex;
    margin-top: 5px;
    width: 100%;
  }

  .post-page-container {
    display: block;
    width: 100%;
    height: 100%;
  }
  /* .phone-post-page-container {
    /* display: none; */
  /* } */
  .picture-conatiner {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .label-add-page {
    display: flex;
    align-items: center;
  }
  .selected-photo {
    width: 45vw;
    height: 45vw;
    /* margin-top: -5vh; */
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .configuration-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .enter-information {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .retaurant-name input,
  .caption input,
  .tag-user {
    font-size: 2vw;
    width: 30vw !important;
    padding: 15px;
  }
  .enter-information input::placeholder,
  .tag-user {
    font-size: 2vw !important;
    font-weight: 1000;
  }
  .add-page-input {
    height: 10%;
  }
  .tag-person {
    position: relative;
  }
  .post-page-container ::-webkit-scrollbar {
    width: 3px;
  }
  .post-page-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
  }
  .post-page-container ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
  }
  .post-page-container ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .tag-user {
    width: fit-content !important;
    height: 25px !important;
    color: rgb(47, 47, 47);
    cursor: pointer;
    background-color: unset;
    max-height: 80%;
    overflow: auto;
  }
  .follower-name,
  .following-name {
    position: absolute;
    max-height: 150px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
    background-color: rgb(0 0 0 / 90%);
    text-align: center;
    justify-content: space-evenly;
    overflow: auto;
    max-width: 80%;
    width: 35vw;
    /* min-width: 65%; */
    margin-left: 2%;
  }
  /* .my-following-name,
  .my-follower-name {
    position: absolute;
    display: none;
    max-height: 150px;
    min-height: fit-content;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
    background-color: rgb(0 0 0 / 90%);
    text-align: center;
    justify-content: space-evenly;
    overflow: auto;
    margin-left: 2%;
    z-index: 10;
  } */
  .my-follower-name {
    width: 30vw !important;
  }
  .my-following-name {
    width: 30vw !important;
  }
  .tagged-person-name-container {
    display: flex;
    flex-direction: row;
    /* padding: 5%; */
    border-bottom: 3px solid white;
    cursor: pointer;
    width: 91%;
    padding: 5% 4%;
    height: 100%;
  }
  .search-person-name-container {
    display: flex;
    flex-direction: row;
    /* padding: 5%; */
    border-bottom: 3px solid white;
    cursor: pointer;
    width: 95%;
    padding: 5% 4%;
    height: 100%;
  }
  .tagged-person-name-container:hover {
    background-color: #22a900;
  }
  .follower-name-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .follower-info-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
  }
  .submit {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 2vw;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 10%);
    padding: 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #00ff04;
    /* margin-left: 25%; */
    cursor: pointer;
    border: none;
  }
  .tagged-photo {
    width: 10px;
    height: 10px;
  }
  .tagged-person-photo-container {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: white;
    cursor: pointer;
  }
  .tagged-person-photo {
    border-radius: 50px;
    height: 30px;
    width: 30px;
  }
  .tagged-person-name {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
  }
  .search-person-name {
    margin-top: 5px;
    margin-left: 10px;
    color: black;
    width: fit-content;
    font-size: 1.8vw;
  }
  .following-person-name {
    color: white;
    font-size: 1.4vw;
    /* justify-content: center; */
    /* margin-top: 50%; */
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 50%;
  }
  .follow-name {
    color: white !important;
  }
  .following-person-remove {
    color: white;
    font-size: 1.4vw;
    background-color: #2cc805;
    padding-left: 13px;
    /* justify-content: center; */
    /* margin-top: 50%; */
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 25%;
  }
  .caption input {
    margin-top: 0px !important;
  }
  .left-side-container {
    position: fixed;
    width: 20%;
  }
  .right-container {
    height: fit-content;
    width: 80%;
    margin-left: 20%;
    /* background-color: rgb(207, 207, 207); */
  }
  .follower-number,
  .following-number {
    font-size: 2.5vw;
    height: 100%;
  }
  .follower-word,
  .following-word {
    font-size: 2.5vw;
    height: 100%;
  }
  .phone-post-page-container,
  .phone-post-enter-information-container {
    display: none;
  }
}
@media (min-width: 800px) and (min-height: 600px) {
  /* .retaurant-name input,
  .caption input,
  .tag-user {
    width: 200px;
  } */
  .enter-information input::placeholder,
  .tag-user {
    font-size: 14px;
    font-weight: 1000;
  }
}
.commant-layer-container,
.myprofile-commant-layer-container {
  display: none;
}
.commant-layer-container {
  position: absolute;
  background-color: rgb(10, 12, 16, 0.95);
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
  width: 100%;
  height: 300px;
  z-index: 10;
}
.unl {
  color: black;
}
/* .post-word-animation-left,
.post-word-animation-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.post-word-animation-left {
  width: 3px;
  height: 100%;
  animation: postanimationleft 5s linear infinite;
} */
.post-word-animation-bottom {
  /* top: 97px !important; */
  height: 100%;
  width: 100%;
  position: relative;
}
.post-word-animation-bottom::before {
  content: "";
  left: 0;
  bottom: 0;
  height: 0%;
  width: 0%;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  position: absolute;
  animation: postanimationbottom 10s linear infinite;
}
.post-word-animation-bottom::after {
  content: "";
  right: 0;
  top: 0;
  height: 0%;
  width: 0%;
  border-right: 3px solid black;
  border-top: 3px solid black;
  position: absolute;
  animation: postanimationbottom 10s linear infinite;
}
@keyframes postanimationleft {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes postanimationbottom {
  0% {
    height: 0%;
    width: 0%;
  }
  50% {
    height: 100%;
    width: 100%;
  }
}
/* .post-word-container, */
.order-word-container {
  position: relative;
  overflow: hidden;
}
.post-word-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navlink-container {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
}
.add-word-container {
  width: 100%;
  height: 15%;
}
.post-word-container:hover,
.order-word-container:hover,
.add-word-container:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
/* .search-text{
    display: none;
    width: 100%;
    background-color: gray;
    z-index: 120;
    height: 20px;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    border-radius: 5px;
} */
.displaythiscontainer {
  display: block;
}
.skeletonclass,
.skeletonprofileclass {
  margin-bottom: 40px;
  width: 100%;
  height: 400px;
  margin-top: 0px;
}
.skeleton-post {
  width: 100%;
  height: 100%;
}
.skeleton-image {
  width: 100%;
  height: 5vh;
}
.myprofile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* justify-content: space-between; */
  height: -moz-fit-content;
  /* background-color: rgb(207, 207, 207); */
  /*  height: fit-content;*/
}
.userprofile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  /* justify-content: space-between; */
  height: -moz-fit-content;
  /* background-color: rgb(207, 207, 207); */
  /*  height: fit-content;*/
}
.show-more {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vw;
  align-items: center;
}
.show-more:hover {
  background-color: #22a900;
}
.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 2vw;
  font-weight: lighter;
  flex-wrap: wrap;
  height: fit-content;
  max-height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}
.bio-statement {
  display: flex;
  width: 100%;
  height: 100%;
}
.follow-mesage-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10px;
}
.friend-follow-message {
  width: 40%;
}
.bio-textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: none;
}
.post-page-container ::placeholder {
  color: rgb(47, 47, 47);
}
.phone-add-post-container {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-input {
  width: 100%;
  height: 15%;
}
.caption {
  margin-top: 24%;
}
.tag-person {
  margin-bottom: 40%;
}
.search-person-name-container:hover {
  background-color: #d5d5d5;
}
.delete-post {
  color: red;
}
.edit-post-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  overflow: hidden;
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
}
.second-edit-post-container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-edit-post-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%); */
  height: 65%;
  background-image: linear-gradient(to top left, #00ff04, 55%, black);
}
.edit-picture-conatiner {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-label-add-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.edit-selected-photo {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  /* margin-top: -5vh; */
  /* box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%); */
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
}
.edit-configuration-container {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
}
.edit-enter-information {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.edit-caption {
  height: 10%;
  margin-top: 0% !important;
}
.edit-configuration-container input {
  padding: 15px;
  width: 18vw;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  font-size: 2vh;
  box-shadow: 3px 3px 0px 0px rgb(245 245 245);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: unset;
}
.edit-tag {
  position: relative;
}
.edit-submit {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  font-size: 4vw;
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 10%);
  padding: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #00ff04;
  /* margin-left: 25%; */
  cursor: pointer;
  border: none;
}
.edit-tag-user {
  border: none;
  outline: none;
  width: 18vw;
  height: 30px;
  border-radius: 5px;
  font-size: 2vh;
  box-shadow: 3px 3px 0px 0px rgb(245 245 245);
  /* padding: 15px 0px; */
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: unset;
  display: flex;
  align-items: center;
  margin-bottom: 2px !important;
  padding: 15px;
  color: #3c3232;
}
.close-container {
  margin-left: 92%;
  width: 5%;
  height: 5%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.second-edit-post-container input::placeholder {
  color: #3c3232;
}
.message-page-container {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.message-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: white;
  position: fixed;
}
.communicators-container {
  width: inherit;
  min-width: 200px;
  height: 100%;
  border-right: 1px solid #dac9c9;
}
.communicators-serach-input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-bottom: 20px;
}
.message-seacrh-contant {
  margin-top: 15px;
  /* margin-left: auto; */
  width: 95%;
  height: 98%;
}
.message-input-search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.3);
}
.message-search-type-input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 4vw;
  background-color: unset;
}
.message-search-entry-logo {
  height: 100%;
  width: 20%;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.communicators-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communicator-container {
  width: 100%;
  display: flex;
  height: 60px;
  cursor: pointer;
}
.communicator-info {
  width: 97%;
  display: flex;
  height: 100%;
  align-items: center;
}
.communicator-container:hover {
  background-color: #c2c2c2;
}
.chat-container {
  display: none;
}
.meassge-search-person-name {
  margin-left: 10px;
  color: black;
  width: -webkit-fill-available;
  font-size: 12px;
  height: 50%;
}
.meassge-search-person-name h5 {
  margin-top: 1px;
}
.top-bar-container {
  display: flex;
  width: 100%;
  background-color: brown;
  position: sticky;
  height: 65px;
  align-items: center;
}
.bottom-bar-container {
  width: inherit;
  bottom: 0px;
  position: fixed;
  height: 50px;
  align-items: center;
  display: flex;
  border-top: 1px solid #dac9c9;
  background-color: brown;
}
.message-input {
  border: none;
  background-color: unset;
  outline: none;
  width: 90%;
  margin-left: 5px;
}
.send-icon {
  width: fit-content;
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}
.middle-bar-container {
  width: 100%;
  height: -webkit-fill-available;
  background-color: #fafafa;
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: auto;
  margin-top: 5px;
  /* scroll-snap-type: y proximity;
  overflow-y: scroll;
  overscroll-behavior-y: contain; */
}
.message-image-container {
  margin-left: 2%;
}
.chatter-name {
  width: 75%;
  margin-left: 2%;
}
.message-value-container {
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-right: 2%;
  margin-bottom: 15px;
  max-width: 55vw;
  padding: 3px;
  border-radius: 10px;
}
.message-value {
  width: fit-content;
  min-width: 5vw;
  height: fit-content;
  border-radius: 5px;
  padding: 5px 5px 8px 5px;
  text-align: left;
}
.message-date {
  font-size: 10px;
}
.send-message-form {
  width: inherit;
}
.only-chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  align-items: flex-end;
  justify-content: flex-end;
}
/* .middle-bar-container > div > div:last-child {
  scroll-snap-align: end;
} */

.receiver-message {
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 2%;
  margin-bottom: 15px;
  max-width: 55vw;
  padding: 3px;
  border-radius: 10px;
  background-color: #2cc805 !important;
}
.receiver-chat-container {
  align-items: flex-start;
  width: 95%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin-left: 2%;
}
.user-chat-div {
  height: fit-content;
  width: inherit;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.message-form {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: inherit;
}
.send-icon-container {
  display: flex;
  justify-content: center;
  width: 10%;
}
.last-time {
  font-size: 8px;
  width: -webkit-fill-available;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 5%; */
}
#unread-message {
  color: #22a900;
}
.last-message-info {
  width: 100%;
  display: flex;
}
.send-date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 12px;
}

.message-search-type-input::placeholder {
  font-size: clamp(0.5rem, 10vw, 0.9rem);
}
.welcome-to-chat {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  place-content: center;
  background-color: whitesmoke;
  font-size: clamp(1rem, 10vw, 2rem);
  font-weight: bold;
}
/* .welcome-to-chat-message {
} */
.comment-span {
  margin-left: 3px;
}
.count-container {
  font-size: 3vw;
  font-weight: bolder;
}
.like-counter {
  width: 50%;
  display: flex;
  margin-left: 1.5vw;
}
.comment-counter {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
}
.header-icons-containers a.active {
  text-decoration: none;
  font-weight: bold;
}
.icon-link {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.left-side-container a.active {
  text-decoration: none;
  color: white;
}
#communicatorContainer {
  background-color: rgb(244, 244, 244);
}
.unread-message-counter-container {
  display: flex;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: #22a900; */
}
.unread-message-counter {
  background-color: #22a900;
  width: fit-content;
  padding: 5% 15% 5% 15%;
  height: inherit;
  font-size: 8px;
  color: white;
  border-radius: 50px;
}
.last-message {
  width: 75%;
}
.scroll-down-button-container {
  position: fixed;
  /* float: right; */
  width: 25px;
  height: 25px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 70px;
  right: 5%;
  background-color: gray;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.chat-container-mobile {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.today-container {
  background-color: darkgray;
  width: 30%;
  height: inherit;
  max-width: 35%;
  font-size: 12px;
  display: grid;
  place-content: center;
  /* padding: 3px 3px 7px 3px; */
  border-radius: 5px;
}
.today {
  width: 100%;
  height: 100%;
}
.down-arrow-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.header-icons-mobile {
  width: 25%;
  height: 90%;
}
.icon-link-mobile {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.tagperson-container {
  cursor: pointer;
  margin-left: 2px;
}
.taged-person-container {
  position: fixed;
  width: 15%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  top: 42.5%;
  padding: 0.5%;
  /* background-color: rgb(0, 0, 0, 0.9); */
  overflow: hidden;
  /* box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);*/
}
.taged-persons-container {
  position: fixed;
  width: 15%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  top: 25%;
  padding: 0.5%;
  /* background-color: rgb(0, 0, 0, 0.9); */
  overflow: hidden;
  /* box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);*/
}

.taged-pesron-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  overflow: hidden;
  box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
  border-radius: 5px;
}
.taged-name-div {
  display: flex;
  height: 5vw;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.5vw;
  margin-left: 5px;
  /* border-bottom: 1px solid black; */
}
.tagged-name-hr {
  width: 100%;
  margin: unset;
  padding: unset;
}
.username-tag {
  display: flex;
  margin-left: 2px;
}
.tag-name-container {
  height: fit-content;
}
.tag-name-container:hover {
  background-color: #a8a8a8;
  margin: unset;
}
.notification-container {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 70px;
  background-color: white;
  position: fixed;
}
.notification-messages-container {
  width: 60%;
  height: fit-content;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  border-radius: 5px;
}
.notification-message-container {
  width: 100%;
  height: fit-content;
}
.notification-message {
  width: 99%;
  height: 6vh;
  display: flex;
  border-bottom: 1px solid #c3c3c3;
  padding: 2% 0% 0% 1%;
  border-bottom-right-radius: 5px;
}
.friend-request-container {
  width: 25%;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
  border-radius: 5px;
  position: fixed;
  right: 2%;
}
.follow-request-container {
  width: 100%;
}
.follow-request-headline {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  display: flex;
}
.follow-request-sentence {
  padding: 2%;
  width: 50%;
}
.follow-request-count {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.follower-request-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2% 0% 0% 0%;
}
.follower-request {
  display: flex;
  /* margin-right: 2%; */
  height: 10%;
  max-height: 10%;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 1%;
  padding-top: 1%;
}
.follower-request-name-container {
  width: 50%;
  max-width: 50%;
  min-width: -moz-fit-content;
  min-width: 50%;
  margin-left: 2%;
  cursor: pointer;
  display: flex;
  height: 100%;
  margin-right: 2%;
}
.follower-request-name {
  width: 40%;
  margin-left: 2%;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.follower-request-confirm,
.follower-request-delete {
  width: 24%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2%;
  font-size: 1.2vw;
  display: grid;
  place-content: center;
}
.follower-request-confirm {
  background-color: #2cc805;
}
.follower-request-delete {
  margin-right: 1%;
}
.myfollower-photo {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgb(0, 0, 0, 0.2);
}
.myfollower-image {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  object-fit: cover;
}
