html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
#root {
  height: 100%;
}
.container,
.profile-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container {
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.main-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  position: fixed;
  z-index: 100;
}
.nav-bar-a {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2cc805;
  margin: 0%;
  padding: 0%;
  z-index: 4;
}
.logo {
  width: 30%;
  height: 100%;
}
.traverse-h {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 17px;
  margin-top: -1px;
  transform: translateY(27px);
}
.traverse-logo {
  margin: 10px;
  border-radius: 50px;
  height: 80px;
  width: 80px;
  background-image: linear-gradient(to top left, #22a900, 55%, black);
  cursor: pointer;
}
.search {
  width: 50%;
  height: 50%;
}
.input-search-responsive {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.input-search {
  display: none;
}
.nav-bar-c {
  width: 100%;
  height: 50px;
  background-color: #2cc805;
  z-index: 2;
}
/* .search-logo{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100%;
    width:10%;
    background-color: white;
    border-left: 1px solid black;
    cursor: pointer;
    box-shadow: 7px 1px 8px 3px rgb(0 0 0 / 50%);
} */
.account-logo {
  width: 50%;
  height: 100%;
  display: flex;
}
.photo-circle-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.photo-circle {
  margin-right: 10px;
  border-radius: 50px;
  height: 58px;
  width: 56px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
}
.nav-bar-b {
  width: 100%;
  height: 50px;
  background-color: #2cc805;
}
.part-one,
.part-two {
  width: 50%;
  height: 50%;
}
.column-one {
  width: 50%;
  height: 100%;
}
.one {
  font-size: 30px;
  letter-spacing: 5px;
}
.order-logo {
  transform: translate(86%, 50%);
  cursor: pointer;
}
.social-logo {
  transform: translate(148%, -140%);
  cursor: pointer;
  text-decoration: none;
}
.search-responsive-contant {
  height: 100%;
  width: calc(100% / 3);
}
.search-responsive {
  transform: translate(50%, 75%);
}
.post-responsive {
  transform: translate(155%, -10%);
}
.message-responsive {
  transform: translate(-87%, -18%);
}
.traverse-container {
  background-color: rgb(207, 207, 207);
  height: fit-content;
}
.post-container,
.order-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 140px;
}
.upload-post {
  margin-top: 20px;
  background-color: white;
  width: 100%;
  height: fit-content;
}
.first-layer,
.uploader,
.uploader-manage,
.third-layer,
.react,
.fourth-order-layer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.first-layer,
.uploader {
  width: 100%;
  height: 50px;
}
.uploader {
  width: 65%;
  height: 100%;
}
.uploader-photo {
  margin: 10px;
  border-radius: 50px;
  height: 58px;
  width: 56px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgb(0, 0, 0, 0.2);
}
.uploader-image,
.customer-pic {
  border-radius: 50px;
  height: 58px;
  width: 56px;
}
.upload-time-name {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.uploader-name {
  font-size: 14px;
  margin-top: 34px;
  cursor: pointer;
  width: 75px;
}
.uploader-manage {
  width: 35%;
  height: 100%;
  justify-content: flex-end;
  margin-right: 27px;
}
.follow-button {
  margin-top: 29px;
  background-color: #2cc805;
  font-family: "Times New Roman", Times, serif;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
}
.uploader-setting {
  transform: translate(128%, -14%);
  rotate: 90deg;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}
.second-layer {
  width: 100%;
  height: fit-content;
  /* margin-top: 25px; */
}
.post-caption {
  font-size: 14px;
  margin: 30px 15px;
  font-weight: bold;
}
.third-layer {
  width: 100%;
  height: 26px;
}
.react {
  width: 40%;
  height: 100%;
  justify-content: space-between;
}
.like,
.comment,
.share {
  width: calc(40% / 3);
  justify-content: center;
}
.like {
  margin-left: 7px;
}
.save {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}
.headericons {
  display: flex;
  justify-content: space-evenly;
}
.logouts {
  margin-top: -3px;
}
.uploaded-time {
  color: gray;
  margin-left: 5%;
  font-size: 10px;
}
.uploaded-image {
  width: 100%;
  height: 100%;
}
.photo-page-image {
  width: 10vh;
  height: 100%;
  height: 14vh;
}
.like,
.share,
.comment,
.save {
  cursor: pointer;
}
.none {
  height: 0 !important;
  width: 0 !important;
}
.social {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.upload-meal {
  margin-top: 20px;
  background-color: white;
  width: 100%;
  max-height: fit-content;
  min-height: 330px;
}
.third-order-layer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.meal-name {
  font-size: 30px;
  font-weight: bold;
}
.order-layer,
.details {
  width: 40%;
  height: 20px;
  text-align: center;
  background-color: #2cc805;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.fourth-order-layer {
  width: 100%;
  height: 50px;
}
.image {
  display: flex;
  justify-content: center;
  background-color: 0c9;
  width: 100%;
  height: 100%;
  align-items: center;
}
.img {
  width: 100%;
  height: 50%;
}
.account-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.user-options {
  height: 10%;
  width: 70%;
  margin-right: 25px;
}
.photo-click {
  background-color: white;
  z-index: 120;
  text-align: center;
  margin-right: 25px;
  height: 120px;
  width: 100%;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  border-radius: 5px;
}
.display-element {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.set-element {
  padding: 10.4px;
  cursor: pointer;
  border-radius: 5px;
}
.line {
  border-top: 1px solid #f1eded;
}
.set-element:hover {
  background-color: rgb(199, 199, 199);
}

/* Profile */
.account-contant {
  height: fit-content;
  /* max-height: 240px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 5px; */
}
.profile-container {
  /* height: 240px; */
  background-color: white;
  border-bottom: 3px solid black;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.user-profile-container {
  height: 240px;
  background-color: white;
  border-bottom: 3px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-layer-three {
  display: flex;
  flex-direction: row;
}
.profile-layer-one {
  display: flex;
  height: 100px;
  padding-top: 10px;
  justify-content: flex-start;
  width: 30%;
}
.profile-layer-two {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.profile-layer-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.follow-container {
  /* display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px; */
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  /* height: 100%; */
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.profile-layer-three {
  justify-content: space-around;
  margin-top: 30px;
}
.profile-name {
  font-weight: bold;
  font-size: 6vw;
}
.customer-profile-photo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.following-container {
  margin-left: 10px;
}
.follower-container,
.following-container {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.follower-number,
.following-number {
  font-weight: bold;
}
.number-font {
  font-size: 3vw;
}
.profile-layer-four {
  height: 80px;
}
.edit-container {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
  margin-bottom: 10px;
}
.edit-account {
  width: fit-content;
  border: 4px solid #2cc805;
  background-color: #2cc805;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.following-word,
.follower-word {
  margin-left: 5px;
}
.profile-layer-three {
  width: 100%;
  background-color: #2cc805;
  height: 50px !important;
  align-items: center;
  border-bottom: 2px solid black;
}
.profile-post,
.post-part,
.order-part {
  width: 50%;
}
.profile-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.post-part {
  width: 100%;
}
.order-part,
.post-part {
  height: fit-content;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.a-decoration {
  text-decoration: none;
  color: black;
}
.profile-post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(207, 207, 207);
  width: 100%;
  height: fit-content;
}

.photo-post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(207, 207, 207);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  column-gap: 10px;
  row-gap: 5px;
  margin-top: 10px;
}
.profile-post {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  height: fit-content;
}
.photo-post-user {
  width: 100%;
  height: fit-content;
}

.pizza-icon,
.comment-logo,
.pizza-icon-like,
.save-logo,
.share-logo {
  font-size: 20px;
}
.icon_clicked {
  color: #2cc805;
}

/* order profile */

/* .order-profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(207, 207, 207);
  justify-content: space-between;
  width: 100%;
  height: 100%;
  justify-content: center;
} */
.profile-meal {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-height: fit-content;
  min-height: 330px;
}

/* Add post css code for phone */
.post-page-container {
  display: none;
}
.phone-picture-conatiner {
  margin-top: 50%;
}
.phone-selected-photo {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}
.phone-post-page-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, #2cc805, 55%, black);
}
.phone-post-page-nav {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 50px;
  background-color: black;
}
.phone-post-nav-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 8px;
  background-color: black;
  align-items: center;
}
.right-arrow {
  color: white;
  font-size: 20px;
}
.phone-post-enter-information-container {
  display: none;
  position: absolute;
  width: inherit;
  height: 100%;
  background-image: linear-gradient(to top left, #2cc805, 55%, black);
}
.retaurant-name input,
.caption input,
.tag-user,
.tag-users {
  border: none;
  outline: none;
  width: -webkit-fill-available;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 3px 3px 0px 0px rgb(245 245 245);
  padding: 20px 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: unset;
  margin-bottom: 40px;
  color: white;
}
.tag-user,
.tag-users {
  color: gray;
  display: flex;
  align-items: center;
  margin-bottom: 2px !important;
}
.caption input {
  margin-top: 90px;
}
/* .submit-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px
}
.submit{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 10%);
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: .ff3400;
} */
.follower-name,
.phone-follower-name,
.following-name {
  position: absolute;
  display: none;
  max-height: 200px;
  min-height: fit-content;
  box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  width: 90%;
  margin-left: 2%;
}
.tagged-person-name-container {
  display: flex;
  flex-direction: row;
  /* padding: 5%; */
  /* justify-content: center; */
  border-bottom: 3px solid white;
  cursor: pointer;
  /* position: relative; */
  justify-content: space-between;
  width: 90%;
  height: 100%;
}
.follower-name-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tagged-photo {
  width: 10px;
  height: 10px;
}
.tagged-person-photo-container {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: white;
  cursor: pointer;
}
.tagged-person-photo {
  border-radius: 50px;
  height: 30px;
  width: 30px;
}
.tagged-person-name {
  margin-top: 5px;
  margin-left: 10px;
  color: white;
}
.remove-post {
  display: none;
}
.left-side-container {
  /* position: fixed;
  width: 20%;
  height: 100%;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  background-color: #2cc805 !important; */
  position: fixed;
  width: 20%;
  height: fit-content;
  min-height: 100%;
  /* min-height: 100%; */
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  background-color: #2cc805 !important;
}
.right-container {
  height: fit-content;
  width: 80%;
  margin-left: 20%;
}
.photo-right-container {
  height: fit-content;
  width: 80%;
  margin-left: 20%;
}
.user-right-container {
  height: fit-content;
  width: 100%;
  margin-left: auto;
  margin-top: 20px;
}
.posted-image-container {
  width: 100%;
  height: 50%;
}
.posted-image,
.posted-image-container {
  display: block;
}

@media (min-width: 500px) {
  .main-container {
    height: 150px;
  }
  .logo {
    width: 25%;
  }
  .search {
    width: 50%;
    height: 100%;
  }
  .search-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 150;
  }
  .search-text {
    background-color: black;
    color: white;
    padding: 10px 5px;
    border-bottom: 1px solid white;
    z-index: 120;
    height: fit-content;
    width: 100%;
    cursor: pointer;
  }
  .search-text:hover {
    background-color: rgb(217, 198, 172);
  }
  .seacrh-container {
    width: 100%;
    height: 100%;
  }
  /* .search-list{
        width: 100%;
        height: 150px;
        margin-top: 7px;

        overflow: auto;
    } */
  .input-search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .search-type-input {
    width: 75%;
    height: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 1px 1px 12px 3px rgb(0, 0, 0, 0.5);
    background-color: white;
  }
  .input-search input {
    border: none;
    outline: none;
    font-size: 25px;
  }
  .input-search input::placeholder {
    font-size: 20px;
  }
  .search-logo {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 50%;
    width: 10%;
    background-color: white;
    border-left: 1px solid black;
    cursor: pointer;
    box-shadow: 7px 1px 8px 3px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-icon {
    font-size: 22px;
  }
  .account-container {
    margin-top: 27px;
  }
  .account-logo {
    width: 25%;
    margin-top: -25px;
  }
  .photo-circle {
    height: 68px;
    width: 66px;
  }
  .nav-bar-c {
    display: none;
  }
  .customer-pic {
    border-radius: 50px;
    height: 68px;
    width: 66px;
  }
  .post-container,
  .order-container {
    width: 50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .img {
    width: 90%;
    height: 80%;
  }
  .profile-post {
    position: relative;
  }
  .profile-post-container {
    width: 60%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .order-profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    column-gap: 10px;
    row-gap: 20px;
    width: 90%;
    margin: 10px auto;
  }
  .profile-meal {
    border-radius: 5px;
    width: 280px;
    height: 95%;
  }
  .profile-container {
    height: fit-content;
    max-height: 100%;
  }
  .customer-profile-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .photo-page-image {
    width: 23vw;
    height: 100%;
    height: 27vw;
  }
}
@media (max-width: 790px) and (min-width: 845px) {
  .order-profile-container {
    width: 350px;
    height: 95%;
    margin: 10px auto;
  }
}

.main-profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  /* height: 222px; */
}
.list-item-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.profile-word {
  height: 100px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-left: 35%;
}
.word-decoration {
  position: absolute;
  height: 50px;
  top: 40px;
  margin-left: 2px;
  display: flex;
}
.traverse {
  font-size: 12px;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-weight: bold;
}
.follower-name-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tagged-person-name-container {
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-bottom: 3px solid white;
  cursor: pointer;
  width: 90%;
  height: 100%;
  justify-content: space-between;
}
.tagged-person-photo-container {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  background-color: white;
  cursor: pointer;
}
.following-person-name {
  color: white;
  font-size: 1.8vw;
  display: flex;
  align-items: center;
  /* position: absolute; */
  width: 40%;
}
.follow-name {
  color: white !important;
}
.following-person-remove {
  color: white;
  font-size: 1.8vw;
  background-color: #2cc805;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  width: 7vw;
}
.tagged-person-photo {
  border-radius: 50px;
  height: 15px;
  width: 15px;
}
.my-following-name,
.my-follower-name {
  position: absolute;
  display: none;
  max-height: 150px;
  min-height: fit-content;
  width: 35vw;
  box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
  justify-content: space-evenly;
  overflow: auto;
  margin-left: 2%;
  z-index: 10;
}
.myprofile-commant-layer-container {
  display: none;
  position: absolute;
  background-color: rgb(10, 12, 16, 0.95);
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
  width: 80%;
  height: 300px;
  z-index: 10;
  margin-top: 100px;
}
#comment-layer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.enter-comment {
  display: flex;
  height: 110px;
  width: 100%;
}
.comment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 9%;
}
.comment-text {
  border-radius: 50px;
  width: 90%;
  height: 35px;
}
.comment-send {
  background-color: rgb(10, 12, 16, 0.95);
  border: none;
  font-weight: bold;
  color: #2cc805;
  cursor: pointer;
  height: 35px;
  margin-left: 5%;
  padding: 2% 1% 0% 1%;
}
#comment-layer {
  width: 100%;
  height: 100%;
}
.comment-list {
  /* display: flex;
    flex-direction: column;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: fit-content;
    overflow: auto; */
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: -moz-fit-content;
  height: 75%;
  overflow: auto;
}
#comment-list-container,
#comment-list-contant {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.commenter-info,
.commenter-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}
.commenter-info-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  margin-right: 5px;
}
#comment-time {
  color: gray;
  margin-left: 25px;
  margin-top: 10px;
}
#commenter-image {
  border-radius: 50px;
  height: 38px;
  width: 36px;
}
.commnet-entered-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.commenter-name {
  font-weight: bold;
  margin-left: 12px;
  margin-right: 7px;
}

@media (min-width: 380px) {
  .traverse {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .traverse {
    font-size: 25px;
  }
  .remove-post {
    display: block;
    margin-left: 3px;
  }
}
@media (min-width: 800px) {
  .traverse {
    font-size: 30px;
  }
  .customer-profile-photo {
    border-radius: 50%;
    height: 140px;
    width: 140px;
  }
}
@media (min-width: 500px) {
  .profile-word {
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .profile-name {
    font-size: 50px;
  }
  .edit-account {
    font-size: 20px;
  }
  .follower-word,
  .following-word,
  .follower-number,
  .following-number {
    font-size: 25px !important;
  }
  .tagged-person-photo-container {
    height: 40px !important;
    width: 40px !important;
  }
  .tagged-person-photo {
    height: 40px !important;
    width: 40px !important;
  }
  .follow-mesage-container {
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 799px) {
  .customer-profile-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 500px) and (min-height: 600px) {
  .commant-layer-container {
    display: none;
    position: absolute;
    background-color: rgb(10, 12, 16, 0.95);
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
    width: 50%;
    height: 400px !important;
    z-index: 10;
    margin-top: -30px;
  }
  .myprofile-commant-layer-container {
    display: none;
    position: absolute;
    background-color: rgb(10, 12, 16, 0.95);
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
    width: 100%;
    height: 400px;
    z-index: 10;
    margin-top: 100px;
  }
  #comment-list-container,
  #comment-list-contant {
    display: flex;
    margin-top: 20px;
    width: 100%;
  }

  .post-page-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-post-page-container {
    display: none;
  }
  .add-post-container {
    width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    height: 500px;
    background-image: linear-gradient(to top left, #00ff04, 55%, black);
  }
  .picture-conatiner {
    width: 50%;
    height: 100%;
    margin: 5%;
    display: flex;
    justify-content: center;
  }
  .selected-photo {
    width: 90%;
    height: 40%;
    margin-top: 30%;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
  }
  .configuration-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .enter-information {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .retaurant-name input,
  .caption input,
  .tag-user {
    border: none;
    outline: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 3px 3px 0px 0px rgb(245 245 245);
    padding: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: unset;
  }
  .enter-information input::placeholder,
  .tag-user {
    font-size: 10px;
    font-weight: 1000;
  }
  .tag-person {
    position: relative;
  }
  .tag-user {
    width: fit-content !important;
    height: 25px !important;
    color: gray;
    cursor: pointer;
    background-color: unset;
  }
  .follower-name,
  .following-name {
    position: absolute;
    display: none;
    max-height: 150px;
    min-height: fit-content;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
    background-color: rgb(0 0 0 / 90%);
    text-align: center;
    justify-content: space-evenly;
    overflow: auto;
    width: 90%;
    margin-left: 2%;
  }
  /* .my-following-name,
  .my-follower-name {
    position: absolute;
    display: none;
    max-height: 150px;
    min-height: fit-content;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
    background-color: rgb(0 0 0 / 90%);
    text-align: center;
    justify-content: space-evenly;
    overflow: auto;
    margin-left: 2%;
    z-index: 10;
  } */
  .my-follower-name {
    width: 30vw !important;
  }
  .my-following-name {
    width: 30vw !important;
  }
  .tagged-person-name-container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    border-bottom: 3px solid white;
    cursor: pointer;
  }
  .tagged-person-name-container:hover {
    background-color: #22a900;
  }
  .follower-name-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .follower-info-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
  }
  .submit {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 10%);
    padding: 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #00ff04;
    margin-left: 25%;
    cursor: pointer;
    border: none;
  }
  .tagged-photo {
    width: 10px;
    height: 10px;
  }
  .tagged-person-photo-container {
    border-radius: 50px;
    height: 30px;
    width: 28px;
    background-color: white;
    cursor: pointer;
  }
  .tagged-person-photo {
    border-radius: 50px;
    height: 30px;
    width: 28px;
  }
  .tagged-person-name {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
  }
  .following-person-name {
    color: white;
    font-size: 1.4vw;
    /* justify-content: center; */
    /* margin-top: 50%; */
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 50%;
  }
  .follow-name {
    color: white !important;
  }
  .following-person-remove {
    color: white;
    font-size: 1.4vw;
    background-color: #2cc805;
    padding-left: 13px;
    /* justify-content: center; */
    /* margin-top: 50%; */
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 25%;
  }
  .caption input {
    margin-top: 0px !important;
  }
  .left-side-container {
    position: fixed;
    width: 20%;
  }
  .right-container {
    height: fit-content;
    width: 80%;
    margin-left: 20%;
    background-color: rgb(207, 207, 207);
  }
  .follower-number,
  .following-number {
    font-size: 2.5vw;
    height: 100%;
  }
  .follower-word,
  .following-word {
    font-size: 2.5vw;
    height: 100%;
  }
}
@media (min-width: 800px) and (min-height: 600px) {
  .add-post-container {
    width: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    height: 500px;
    background-color: white;
  }
  .retaurant-name input,
  .caption input,
  .tag-user {
    width: 200px;
  }
  .enter-information input::placeholder,
  .tag-user {
    font-size: 14px;
    font-weight: 1000;
  }
}
.commant-layer-container,
.myprofile-commant-layer-container {
  display: none;
}
.commant-layer-container {
  position: absolute;
  background-color: rgb(10, 12, 16, 0.95);
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 30%);
  width: 100%;
  height: 300px;
  z-index: 10;
}
.unl {
  color: black;
}
.post-word-animation-left,
.post-word-animation-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.post-word-animation-left {
  width: 3px;
  height: 100%;
  animation: postanimationleft 5s linear infinite;
}
.post-word-animation-bottom {
  top: 97px !important;
  height: 3px;
  width: 100%;
  animation: postanimationbottom 5s linear infinite;
}
@keyframes postanimationleft {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(-300px);
  }
}
@keyframes postanimationbottom {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(300px);
  }
}
.post-word-container,
.order-word-container {
  position: relative;
  overflow: hidden;
}
.post-word-container:hover,
.order-word-container:hover,
.add-word-container:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
/* .search-text{
    display: none;
    width: 100%;
    background-color: gray;
    z-index: 120;
    height: 20px;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    border-radius: 5px;
} */
.displaythiscontainer {
  display: block;
}
.skeletonclass,
.skeletonprofileclass {
  margin-bottom: 40px;
  width: 100%;
  height: 400px;
}
.skeleton-post {
  width: 100%;
}
.skeleton-image {
  width: 100%;
  height: 5vh;
}
.myprofile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* justify-content: space-between; */
  height: -moz-fit-content;
  background-color: rgb(207, 207, 207);
  /*  height: fit-content;*/
}
.userprofile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  /* justify-content: space-between; */
  height: -moz-fit-content;
  background-color: rgb(207, 207, 207);
  /*  height: fit-content;*/
}
.show-more {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vw;
  align-items: center;
}
.show-more:hover {
  background-color: #22a900;
}
.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 2vw;
  font-weight: lighter;
  flex-wrap: wrap;
  height: fit-content;
  max-height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}
.bio-statement {
  display: flex;
  width: 100%;
  height: 100%;
}
.follow-mesage-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10px;
}
.friend-follow-message {
  width: 40%;
}
.bio-textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: none;
}
